form {
	position: relative; /* Говорит о том, что блок формы является родительским */
	width: 400px; /* Ширина формы в пикселях */
	max-width: 100%; /* Максимальная ширина блока формы 100%. Если окно браузера будет меньше 400px - форма будет автоматически адаптирововаться по ширину экрана и не будет выходить за её пределы. */
	margin: 0 auto; /* Выравнивание по центру родителя */
}

input {
	width: 100%; /* Ширина полей для ввода 100% от ширины родительского блока (400px) */
	margin-bottom: 9px; /* Внешний отступ снизу */
	border: 1px solid #1f1f1f45; /* Рамка вокруг поля */
	border-radius: 4px; /* Закругление полей */
	padding: 12px 19px; /* Внутренние отступы полей*/
}





.popup {
    position: fixed; /* Задаём фиксированную позицию блоку элементов всплывающего окна */
    display: none; /* Скрываем блок до отправки формы */
    justify-content: center; /* Горизонтальное выравнивание элементов внутри блока */
    align-items: center; /* Вертикальное выравнивание элементов внутри блока */
    width: 100%; /* Ширина блока 100% от ширины родительского блока */
    height: 100%; /* Высота блока 100% от высоты родительского блока */
    top: 0; /* Прижимаем блок к верхнему краю родительского блока */
    opacity: 0; /* Делаем блок невидимым */
}

.popup.active {
	display: flex;
	opacity: 1;
	transition: opacity 1s;
}

.thanks {
    position: relative; /* Устанавливает родительскую позицию */
    text-align: center; /* Выравнивание текста по центру */
    width: 440px; /* Ширина блока 440px */
    max-width: 100%; /* Максимальная ширина блока не может быть более 100% */
    border: 1px solid #00000038; /* Рамка вокруг блока */
    border-radius: 10px; /* Закругление блока на 4px */
    background-color: #ffffffeb; /* Цвет фона */
}

a.close {
    position: absolute; /* Устанавливает абсолютную позицию */
    top: 15px; /* Прижимаем к верхнему краю и отступаем на 15px */
    right: 15px; /* Прижимаем к правому краю и отступаем на 15px */
}

.overlay {
    position: absolute; /* Устанавливает абсолютную позицию */
    top: 0; /* Прижимаем блок к верхнему краю родительского блока */
    width: 100%; /* Ширина блока 100% от ширины родительского блока */
    height: 100%; /* Высота блока 100% от высоты родительского блока */
    background-color: #000; /* Устанавливает цвет фона */
    z-index: -1; /* Определяем порядок расположения блоков */
    opacity: 0.3; /* Прозрачность 0.3 из 1 */
}